@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --blue-light: 0, 151, 178;   /* azzurro principale */
  --blue-deep: 7, 47, 86;       /* blu scuro per testi e accenti */
  --cream:253, 247, 226;
  --fox:230, 94, 27;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  overflow-x: hidden;
  min-height: 100vh;
  width: 100%;
}

body {
  overflow-x: hidden;
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.bg-blue-light {
  background-color: rgb(var(--blue-light));
}

.bg-fox {
  background-color: rgb(var(--fox));
}

.bg-blue-deep {
  background-color: rgb(var(--blue-deep));
}

.bg-cream {
  background-color: rgb(var(--cream));
}

.text-blue-deep {
  color: rgb(var(--blue-deep));
}

.text-fox {
  color: rgb(var(--fox));
}

.text-blue-light {
  color: rgb(var(--blue-light));
}
/* Firefox */
.scrollbar-custom {
  scrollbar-width: thin;
  scrollbar-color: rgb(var(--blue-light)) transparent; /* blue-light */
}

/* Chrome, Edge, Safari */
.scrollbar-custom::-webkit-scrollbar {
  height: 8px; /* spessore barra orizzontale */
}
.scrollbar-custom::-webkit-scrollbar-track {
  background: transparent;
}
.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: rgb(var(--blue-light)); /* blu chiaro */
  border-radius: 9999px;
}