@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --blue-light: 0, 151, 178;   /* azzurro principale */
  --blue-deep: 7, 47, 86;       /* blu scuro per testi e accenti */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.bg-blue-light {
  background-color: rgb(var(--blue-light));
}

.text-blue-deep {
  color: rgb(var(--blue-deep));
}
